<?php

namespace PHPUnitAssister\src\Custom;

/*
 * This class can be used to extend the phpunit assister mock methods to facilitate your project.
 * Add mock methods to it and use this class to extend your test classes.
 */
abstract class CustomMockProvider extends Symfony2MockProvider{

}